<!DOCTYPE html>

<html lang="en"> 
     <head>
           <title>  Weather Page</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
     

      <body>
          <header>
           <h2>  {{title}} </h2>
           <h2>{{desc}}</h2>
          </header>
          <main>
               
          <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
          </form>
              

                
            <p id="location"></p>
            <p id="forecast"></p>
            <p id="latitiude"></p>
            <p id="longitude"></p>
            <p id="error"></p>
          
          </main>

          <footer>
                <p>&copy; 2024 Weather App</p>
          </footer>
           
          


          
     
          
          <script src="js/script.js"></script>
      </body>
      
</html>